/* Reglas de Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remover valor por defecto de padding en etiquetas ul y ol con el atributo de clase */
ul[class],
ol[class] {
  padding: 0;
}

/* Remover valor por defecto de padding */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Asignar valores por default a la raíz principal */
html {
  scroll-behavior: smooth;
}

/* Asignar valores por default al cuerpo del documento */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remover el estilo list-style a los elementos ul y ol con el atributo de clase */
ul[class],
ol[class] {
  list-style: none;
}

/* Predeterminar estilos para los elementos que no tienen una clase */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Predeterminar estilos para las imágenes */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Predeterminar estilos para los artículos */
article > * + * {
  margin-top: 1em;
}

/* Heredar fuentes para los elementos de formulario(botones, entradas, áreas de texto y selectores) */
input,
button,
textarea,
select {
  font: inherit;
}

/* Desenfocar imágenes cuando no tienen la propiedad alt */
img:not([alt]) {
  filter: blur(10px);
}

/* Remover todas las animaciones y transiciones */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Predeterminar estilos generales */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Reestablecer visualización para navegadores con versiones antiguas */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Predeterminar estilo al cuerpo del documento */
body {
  line-height: 1;
}

/* Predeterminar estilo a las listas ol y ul */
ol, ul {
  list-style: none;
}

/* Predeterminar estilo a las etiquetas blockquote y q */
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* Predeterminar estilo a las tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
