@import "./variables.scss";

/* Fondos */
.fondo-p1 { background-color: $color-primario-1 !important; }
.fondo-p2 { background-color: $color-primario-2 !important; }
.fondo-p3 { background-color: $color-primario-3 !important; }
.fondo-p4 { background-color: $color-primario-4 !important; }
.fondo-p5 { background-color: $color-primario-5 !important; }
.fondo-p6 { background-color: $color-primario-6 !important; }

.fondo-s1 { background-color: $color-secundario-1 !important; }
.fondo-s2 { background-color: $color-secundario-2 !important; }
.fondo-s3 { background-color: $color-secundario-3 !important; }
.fondo-s4 { background-color: $color-secundario-4 !important; }
.fondo-s5 { background-color: $color-secundario-5 !important; }
.fondo-s6 { background-color: $color-secundario-6 !important; }
.fondo-s7 { background-color: $color-secundario-7 !important; }
.fondo-s8 { background-color: $color-secundario-8 !important; }
.fondo-s9 { background-color: $color-secundario-9 !important; }
.fondo-s10 { background-color: $color-secundario-10 !important; }
.fondo-s11 { background-color: $color-secundario-11 !important; }
.fondo-s12 { background-color: $color-secundario-12 !important; }
.fondo-s13 { background-color: $color-secundario-13 !important; }
.fondo-s14 { background-color: $color-secundario-14 !important; }
.fondo-s15 { background-color: $color-secundario-15 !important; }
.fondo-s16 { background-color: $color-secundario-16 !important; }
.fondo-s17 { background-color: $color-secundario-17 !important; }
.fondo-s18 { background-color: $color-secundario-18 !important; }
.fondo-s19 { background-color: $color-secundario-19 !important; }
.fondo-s20 { background-color: $color-secundario-20 !important; }
.fondo-s21 { background-color: $color-secundario-21 !important; }
.fondo-s22 { background-color: $color-secundario-22 !important; }
.fondo-s23 { background-color: $color-secundario-23 !important; }
.fondo-s24 { background-color: $color-secundario-24 !important; }
.fondo-s25 { background-color: $color-secundario-25 !important; }

.fondo-vd1 { background-color: $color-visualizacion-dato-1 !important; }
.fondo-vd2 { background-color: $color-visualizacion-dato-2 !important; }
.fondo-vd3 { background-color: $color-visualizacion-dato-3 !important; }
.fondo-vd4 { background-color: $color-visualizacion-dato-4 !important; }
.fondo-vd5 { background-color: $color-visualizacion-dato-5 !important; }
.fondo-vd6 { background-color: $color-visualizacion-dato-6 !important; }
.fondo-vd7 { background-color: $color-visualizacion-dato-7 !important; }
.fondo-vd8 { background-color: $color-visualizacion-dato-8 !important; }
.fondo-vd9 { background-color: $color-visualizacion-dato-9 !important; }
.fondo-vd10 { background-color: $color-visualizacion-dato-10 !important; }
.fondo-vd11 { background-color: $color-visualizacion-dato-11 !important; }
.fondo-vd12 { background-color: $color-visualizacion-dato-12 !important; }
.fondo-vd13 { background-color: $color-visualizacion-dato-13 !important; }
.fondo-vd14 { background-color: $color-visualizacion-dato-14 !important; }
.fondo-vd15 { background-color: $color-visualizacion-dato-15 !important; }
.fondo-vd16 { background-color: $color-visualizacion-dato-16 !important; }
.fondo-vd17 { background-color: $color-visualizacion-dato-17 !important; }
.fondo-vd18 { background-color: $color-visualizacion-dato-18 !important; }

/* Bordes */
.borde-p1 { border-color: $color-primario-1 !important; }
.borde-p2 { border-color: $color-primario-2 !important; }
.borde-p3 { border-color: $color-primario-3 !important; }
.borde-p4 { border-color: $color-primario-4 !important; }
.borde-p5 { border-color: $color-primario-5 !important; }
.borde-p6 { border-color: $color-primario-6 !important; }

.borde-s1 { border-color: $color-secundario-1 !important; }
.borde-s2 { border-color: $color-secundario-2 !important; }
.borde-s3 { border-color: $color-secundario-3 !important; }
.borde-s4 { border-color: $color-secundario-4 !important; }
.borde-s5 { border-color: $color-secundario-5 !important; }
.borde-s6 { border-color: $color-secundario-6 !important; }
.borde-s7 { border-color: $color-secundario-7 !important; }
.borde-s8 { border-color: $color-secundario-8 !important; }
.borde-s9 { border-color: $color-secundario-9 !important; }
.borde-s10 { border-color: $color-secundario-10 !important; }
.borde-s11 { border-color: $color-secundario-11 !important; }
.borde-s12 { border-color: $color-secundario-12 !important; }
.borde-s13 { border-color: $color-secundario-13 !important; }
.borde-s14 { border-color: $color-secundario-14 !important; }
.borde-s15 { border-color: $color-secundario-15 !important; }
.borde-s16 { border-color: $color-secundario-16 !important; }
.borde-s17 { border-color: $color-secundario-17 !important; }
.borde-s18 { border-color: $color-secundario-18 !important; }
.borde-s19 { border-color: $color-secundario-19 !important; }
.borde-s20 { border-color: $color-secundario-20 !important; }
.borde-s21 { border-color: $color-secundario-21 !important; }
.borde-s22 { border-color: $color-secundario-22 !important; }
.borde-s23 { border-color: $color-secundario-23 !important; }
.borde-s24 { border-color: $color-secundario-24 !important; }
.borde-s25 { border-color: $color-secundario-25 !important; }

.borde-vd1 { border-color: $color-visualizacion-dato-1 !important; }
.borde-vd2 { border-color: $color-visualizacion-dato-2 !important; }
.borde-vd3 { border-color: $color-visualizacion-dato-3 !important; }
.borde-vd4 { border-color: $color-visualizacion-dato-4 !important; }
.borde-vd5 { border-color: $color-visualizacion-dato-5 !important; }
.borde-vd6 { border-color: $color-visualizacion-dato-6 !important; }
.borde-vd7 { border-color: $color-visualizacion-dato-7 !important; }
.borde-vd8 { border-color: $color-visualizacion-dato-8 !important; }
.borde-vd9 { border-color: $color-visualizacion-dato-9 !important; }
.borde-vd10 { border-color: $color-visualizacion-dato-10 !important; }
.borde-vd11 { border-color: $color-visualizacion-dato-11 !important; }
.borde-vd12 { border-color: $color-visualizacion-dato-12 !important; }
.borde-vd13 { border-color: $color-visualizacion-dato-13 !important; }
.borde-vd14 { border-color: $color-visualizacion-dato-14 !important; }
.borde-vd15 { border-color: $color-visualizacion-dato-15 !important; }
.borde-vd16 { border-color: $color-visualizacion-dato-16 !important; }
.borde-vd17 { border-color: $color-visualizacion-dato-17 !important; }
.borde-vd18 { border-color: $color-visualizacion-dato-18 !important; }

/* Letras */
.letra-p1 { color: $color-primario-1 !important; }
.letra-p2 { color: $color-primario-2 !important; }
.letra-p3 { color: $color-primario-3 !important; }
.letra-p4 { color: $color-primario-4 !important; }
.letra-p5 { color: $color-primario-5 !important; }
.letra-p6 { color: $color-primario-6 !important; }

.letra-s1 { color: $color-secundario-1 !important; }
.letra-s2 { color: $color-secundario-2 !important; }
.letra-s3 { color: $color-secundario-3 !important; }
.letra-s4 { color: $color-secundario-4 !important; }
.letra-s5 { color: $color-secundario-5 !important; }
.letra-s6 { color: $color-secundario-6 !important; }
.letra-s7 { color: $color-secundario-7 !important; }
.letra-s8 { color: $color-secundario-8 !important; }
.letra-s9 { color: $color-secundario-9 !important; }
.letra-s10 { color: $color-secundario-10 !important; }
.letra-s11 { color: $color-secundario-11 !important; }
.letra-s12 { color: $color-secundario-12 !important; }
.letra-s13 { color: $color-secundario-13 !important; }
.letra-s14 { color: $color-secundario-14 !important; }
.letra-s15 { color: $color-secundario-15 !important; }
.letra-s16 { color: $color-secundario-16 !important; }
.letra-s17 { color: $color-secundario-17 !important; }
.letra-s18 { color: $color-secundario-18 !important; }
.letra-s19 { color: $color-secundario-19 !important; }
.letra-s20 { color: $color-secundario-20 !important; }
.letra-s21 { color: $color-secundario-21 !important; }
.letra-s22 { color: $color-secundario-22 !important; }
.letra-s23 { color: $color-secundario-23 !important; }
.letra-s24 { color: $color-secundario-24 !important; }
.letra-s25 { color: $color-secundario-25 !important; }

.letra-vd1 { color: $color-visualizacion-dato-1 !important; }
.letra-vd2 { color: $color-visualizacion-dato-2 !important; }
.letra-vd3 { color: $color-visualizacion-dato-3 !important; }
.letra-vd4 { color: $color-visualizacion-dato-4 !important; }
.letra-vd5 { color: $color-visualizacion-dato-5 !important; }
.letra-vd6 { color: $color-visualizacion-dato-6 !important; }
.letra-vd7 { color: $color-visualizacion-dato-7 !important; }
.letra-vd8 { color: $color-visualizacion-dato-8 !important; }
.letra-vd9 { color: $color-visualizacion-dato-9 !important; }
.letra-vd10 { color: $color-visualizacion-dato-10 !important; }
.letra-vd11 { color: $color-visualizacion-dato-11 !important; }
.letra-vd12 { color: $color-visualizacion-dato-12 !important; }
.letra-vd13 { color: $color-visualizacion-dato-13 !important; }
.letra-vd14 { color: $color-visualizacion-dato-14 !important; }
.letra-vd15 { color: $color-visualizacion-dato-15 !important; }
.letra-vd16 { color: $color-visualizacion-dato-16 !important; }
.letra-vd17 { color: $color-visualizacion-dato-17 !important; }
.letra-vd18 { color: $color-visualizacion-dato-18 !important; }
