$fuente-texto: "Avenir Next LT Pro";
$fuente-numerica: "Akkurat Mono";

$color-primario-1: #000F08;
$color-primario-2: #F6F6F6;
$color-primario-3: #F7F7F7;
$color-primario-4: #FFFFFF;
$color-primario-5: #AF272F;
$color-primario-6: #006341;

$color-secundario-1: #003E21;
$color-secundario-2: #D0021B;
$color-secundario-3: #E63422;
$color-secundario-4: #FF9E1B;
$color-secundario-5: #00B6B1;
$color-secundario-6: #662e9b;
$color-secundario-7: #792266;
$color-secundario-8: #FFCE8C;
$color-secundario-9: #BE0A28;
$color-secundario-10: #3FAE2B;
$color-secundario-11: #FF9E17;
$color-secundario-12: #B2292E;
$color-secundario-13: #006342;
$color-secundario-14: #E9F1EE;
$color-secundario-15: #6E215F;
$color-secundario-16: #FF9E18;
$color-secundario-17: #006241;
$color-secundario-18: #FBFBFB;
$color-secundario-19: #E02020;
$color-secundario-20: #FDEBEB;
$color-secundario-21: #E11821;
$color-secundario-22: #DA291C;
$color-secundario-23: #FEDD00;
$color-secundario-24: #EAE564;
$color-secundario-25: #EFEF9B;

$color-visualizacion-dato-1: #8EA29B;
$color-visualizacion-dato-2: #C1DCCD;
$color-visualizacion-dato-3: #53565A;
$color-visualizacion-dato-4: #CCCDCE;
$color-visualizacion-dato-5: #B5B8BA;
$color-visualizacion-dato-6: #E3B4B6;
$color-visualizacion-dato-7: #69B09D;
$color-visualizacion-dato-8: #7DCABD;
$color-visualizacion-dato-9: #97BDB0;
$color-visualizacion-dato-10: #BDE8E5;
$color-visualizacion-dato-11: #999999;
$color-visualizacion-dato-12: #2C3236;
$color-visualizacion-dato-13: #72610C;
$color-visualizacion-dato-14: #976B06;
$color-visualizacion-dato-15: #C89214;
$color-visualizacion-dato-16: #1B3A9E;
$color-visualizacion-dato-17: #53565A;
$color-visualizacion-dato-18: #8EA29B;

